<template>
	<div id="board">
		<v-container>
			<v-row>
				<v-col cols="2">
					<Leaderboard :users="users" :judge="judge" />
				</v-col>
				<v-col cols="8">
					<Card @click="nextSituation" :text="currentSituation" isDark id="Situation" />
				</v-col>
				<div class="my-2">
					<v-btn @click="skipSituation" color="error" fab large dark>
						<v-icon>mdi-chevron-left</v-icon>
					</v-btn>
				</div>
				<div class="my-2 mx-4">
					<v-btn @click="resetGame" color="error" fab large dark>
						<v-icon>mdi-restart</v-icon>
					</v-btn>
				</div>
			</v-row>

			<CardsToExpose />
			<Deck />
		</v-container>
	</div>
</template>
<script>
import Card from './Card.vue';
import Deck from './Deck.vue';
import CardsToExpose from './CardsToExpose.vue';
import situations from '../data/situations.js';
import Leaderboard from './Leaderboard.vue';

export default {
	components: {
		Card,
		Deck,
		CardsToExpose,
		Leaderboard
	},
	sockets: {
		usersListUpdated(users) {
			this.users = JSON.parse(users);
		},
		nextSituation: function(judgeName) {
			alert(`סבב הבא! ${judgeName} שופט!`);
			this.situationIndex++;
		},
		resetGame: function() {
			sessionStorage.clear();
			this.$router.push('/');
		}
	},
	data() {
		return {
			currDeck: [],
			situationIndex: 0,
			possibleSituations: [],
			users: [],
			judge: '1'
		};
	},
	created() {
		this.possibleSituations = situations;
	},
	computed: {
		currentSituation() {
			return this.possibleSituations[this.situationIndex];
		}
	},
	methods: {
		resetGame() {
			const confirmation = confirm('בדוק ברקוני?');
			if (confirmation) {
				this.$socket.emit('resetGame');
			}
		},
		nextSituation() {
			this.$socket.emit('nextSituation');
		},
		skipSituation() {
			const confirmation = confirm('בדוק ברקוני?');
			if (confirmation) {
				this.situationIndex++;
			}
		}
	}
};
</script>
<style scoped>
#Situation {
	margin-bottom: 3vh;
}
</style>
